.ui-helper-hidden {
  display: none
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none
}

.ui-helper-clearfix:before,.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse
}

.ui-helper-clearfix:after {
  clear: both
}

.ui-helper-clearfix {
  min-height: 0
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0)
}

.ui-front {
  z-index: 100
}

.ui-state-disabled {
  cursor: default!important
}

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat
}

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0
}

.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em
}

.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover {
  top: 1px
}

.ui-datepicker .ui-datepicker-prev {
  left: 2px
}

.ui-datepicker .ui-datepicker-next {
  right: 2px
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px
}

.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center
}

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0
}

.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {
  width: 49%
}

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em
}

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0
}

.ui-datepicker td {
  border: 0;
  padding: 1px
}

.ui-datepicker td span,.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0
}

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left
}

.ui-datepicker.ui-datepicker-multi {
  width: auto
}

.ui-datepicker-multi .ui-datepicker-group {
  float: left
}

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0
}

.ui-datepicker-rtl {
  direction: rtl
}

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group {
  float: right
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px
}

.ui-widget {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em
}

.ui-widget .ui-widget {
  font-size: 1em
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em
}

.ui-widget-content {
  border: 1px solid #ddd;
  background: #fff;
  color: #333
}

.ui-widget-content a {
  color: #333
}

.ui-widget-header {
  border: 1px solid #ddd;
  background: #e9e9e9;
  color: #333;
  font-weight: bold
}

.ui-widget-header a {
  color: #333
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
  color: #454545;
  text-decoration: none
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
  border: 1px solid #ccc;
  background: #ededed;
  font-weight: normal;
  color: #2b2b2b
}

.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited {
  color: #2b2b2b;
  text-decoration: none
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #fff
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
  color: #fff;
  text-decoration: none
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620
}

.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a {
  color: #777620
}

.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error {
  border: 1px solid #f1a899;
  background: #fddfdf;
  color: #5f3f3f
}

.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a {
  color: #5f3f3f
}

.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text {
  color: #5f3f3f
}

.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary {
  font-weight: bold
}

.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal
}

.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none
}

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35)
}

.ui-icon {
  width: 16px;
  height: 16px
}

.ui-icon,.ui-widget-content .ui-icon {
  background-image: url(/js/jqueries/UI/images/ui-icons_444444_256x240.png)
}

.ui-widget-header .ui-icon {
  background-image: url(/js/jqueries/UI/images/ui-icons_444444_256x240.png)
}

.ui-state-default .ui-icon {
  background-image: url(/js/jqueries/UI/images/ui-icons_777777_256x240.png)
}

.ui-state-hover .ui-icon,.ui-state-focus .ui-icon {
  background-image: url(/js/jqueries/UI/images/ui-icons_555555_256x240.png)
}

.ui-state-active .ui-icon {
  background-image: url(/js/jqueries/UI/images/ui-icons_ffffff_256x240.png)
}

.ui-state-highlight .ui-icon {
  background-image: url(/js/jqueries/UI/images/ui-icons_777620_256x240.png)
}

.ui-state-error .ui-icon,.ui-state-error-text .ui-icon {
  background-image: url(/js/jqueries/UI/images/ui-icons_cc0000_256x240.png)
}

.ui-icon-blank {
  background-position: 16px 16px
}

.ui-icon-carat-1-n {
  background-position: 0 0
}

.ui-icon-carat-1-ne {
  background-position: -16px 0
}

.ui-icon-carat-1-e {
  background-position: -32px 0
}

.ui-icon-carat-1-se {
  background-position: -48px 0
}

.ui-icon-carat-1-s {
  background-position: -64px 0
}

.ui-icon-carat-1-sw {
  background-position: -80px 0
}

.ui-icon-carat-1-w {
  background-position: -96px 0
}

.ui-icon-carat-1-nw {
  background-position: -112px 0
}

.ui-icon-carat-2-n-s {
  background-position: -128px 0
}

.ui-icon-carat-2-e-w {
  background-position: -144px 0
}

.ui-icon-triangle-1-n {
  background-position: 0 -16px
}

.ui-icon-triangle-1-ne {
  background-position: -16px -16px
}

.ui-icon-triangle-1-e {
  background-position: -32px -16px
}

.ui-icon-triangle-1-se {
  background-position: -48px -16px
}

.ui-icon-triangle-1-s {
  background-position: -64px -16px
}

.ui-icon-triangle-1-sw {
  background-position: -80px -16px
}

.ui-icon-triangle-1-w {
  background-position: -96px -16px
}

.ui-icon-triangle-1-nw {
  background-position: -112px -16px
}

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px
}

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px
}

.ui-icon-arrow-1-n {
  background-position: 0 -32px
}

.ui-icon-arrow-1-ne {
  background-position: -16px -32px
}

.ui-icon-arrow-1-e {
  background-position: -32px -32px
}

.ui-icon-arrow-1-se {
  background-position: -48px -32px
}

.ui-icon-arrow-1-s {
  background-position: -64px -32px
}

.ui-icon-arrow-1-sw {
  background-position: -80px -32px
}

.ui-icon-arrow-1-w {
  background-position: -96px -32px
}

.ui-icon-arrow-1-nw {
  background-position: -112px -32px
}

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px
}

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px
}

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px
}

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px
}

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px
}

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px
}

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px
}

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px
}

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px
}

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px
}

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px
}

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px
}

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px
}

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px
}

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px
}

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px
}

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px
}

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px
}

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px
}

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px
}

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px
}

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px
}

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px
}

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px
}

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px
}

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px
}

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px
}

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px
}

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px
}

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px
}

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px
}

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px
}

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px
}

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px
}

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px
}

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px
}

.ui-icon-arrow-4 {
  background-position: 0 -80px
}

.ui-icon-arrow-4-diag {
  background-position: -16px -80px
}

.ui-icon-extlink {
  background-position: -32px -80px
}

.ui-icon-newwin {
  background-position: -48px -80px
}

.ui-icon-refresh {
  background-position: -64px -80px
}

.ui-icon-shuffle {
  background-position: -80px -80px
}

.ui-icon-transfer-e-w {
  background-position: -96px -80px
}

.ui-icon-transferthick-e-w {
  background-position: -112px -80px
}

.ui-icon-folder-collapsed {
  background-position: 0 -96px
}

.ui-icon-folder-open {
  background-position: -16px -96px
}

.ui-icon-document {
  background-position: -32px -96px
}

.ui-icon-document-b {
  background-position: -48px -96px
}

.ui-icon-note {
  background-position: -64px -96px
}

.ui-icon-mail-closed {
  background-position: -80px -96px
}

.ui-icon-mail-open {
  background-position: -96px -96px
}

.ui-icon-suitcase {
  background-position: -112px -96px
}

.ui-icon-comment {
  background-position: -128px -96px
}

.ui-icon-person {
  background-position: -144px -96px
}

.ui-icon-print {
  background-position: -160px -96px
}

.ui-icon-trash {
  background-position: -176px -96px
}

.ui-icon-locked {
  background-position: -192px -96px
}

.ui-icon-unlocked {
  background-position: -208px -96px
}

.ui-icon-bookmark {
  background-position: -224px -96px
}

.ui-icon-tag {
  background-position: -240px -96px
}

.ui-icon-home {
  background-position: 0 -112px
}

.ui-icon-flag {
  background-position: -16px -112px
}

.ui-icon-calendar {
  background-position: -32px -112px
}

.ui-icon-cart {
  background-position: -48px -112px
}

.ui-icon-pencil {
  background-position: -64px -112px
}

.ui-icon-clock {
  background-position: -80px -112px
}

.ui-icon-disk {
  background-position: -96px -112px
}

.ui-icon-calculator {
  background-position: -112px -112px
}

.ui-icon-zoomin {
  background-position: -128px -112px
}

.ui-icon-zoomout {
  background-position: -144px -112px
}

.ui-icon-search {
  background-position: -160px -112px
}

.ui-icon-wrench {
  background-position: -176px -112px
}

.ui-icon-gear {
  background-position: -192px -112px
}

.ui-icon-heart {
  background-position: -208px -112px
}

.ui-icon-star {
  background-position: -224px -112px
}

.ui-icon-link {
  background-position: -240px -112px
}

.ui-icon-cancel {
  background-position: 0 -128px
}

.ui-icon-plus {
  background-position: -16px -128px
}

.ui-icon-plusthick {
  background-position: -32px -128px
}

.ui-icon-minus {
  background-position: -48px -128px
}

.ui-icon-minusthick {
  background-position: -64px -128px
}

.ui-icon-close {
  background-position: -80px -128px
}

.ui-icon-closethick {
  background-position: -96px -128px
}

.ui-icon-key {
  background-position: -112px -128px
}

.ui-icon-lightbulb {
  background-position: -128px -128px
}

.ui-icon-scissors {
  background-position: -144px -128px
}

.ui-icon-clipboard {
  background-position: -160px -128px
}

.ui-icon-copy {
  background-position: -176px -128px
}

.ui-icon-contact {
  background-position: -192px -128px
}

.ui-icon-image {
  background-position: -208px -128px
}

.ui-icon-video {
  background-position: -224px -128px
}

.ui-icon-script {
  background-position: -240px -128px
}

.ui-icon-alert {
  background-position: 0 -144px
}

.ui-icon-info {
  background-position: -16px -144px
}

.ui-icon-notice {
  background-position: -32px -144px
}

.ui-icon-help {
  background-position: -48px -144px
}

.ui-icon-check {
  background-position: -64px -144px
}

.ui-icon-bullet {
  background-position: -80px -144px
}

.ui-icon-radio-on {
  background-position: -96px -144px
}

.ui-icon-radio-off {
  background-position: -112px -144px
}

.ui-icon-pin-w {
  background-position: -128px -144px
}

.ui-icon-pin-s {
  background-position: -144px -144px
}

.ui-icon-play {
  background-position: 0 -160px
}

.ui-icon-pause {
  background-position: -16px -160px
}

.ui-icon-seek-next {
  background-position: -32px -160px
}

.ui-icon-seek-prev {
  background-position: -48px -160px
}

.ui-icon-seek-end {
  background-position: -64px -160px
}

.ui-icon-seek-start {
  background-position: -80px -160px
}

.ui-icon-seek-first {
  background-position: -80px -160px
}

.ui-icon-stop {
  background-position: -96px -160px
}

.ui-icon-eject {
  background-position: -112px -160px
}

.ui-icon-volume-off {
  background-position: -128px -160px
}

.ui-icon-volume-on {
  background-position: -144px -160px
}

.ui-icon-power {
  background-position: 0 -176px
}

.ui-icon-signal-diag {
  background-position: -16px -176px
}

.ui-icon-signal {
  background-position: -32px -176px
}

.ui-icon-battery-0 {
  background-position: -48px -176px
}

.ui-icon-battery-1 {
  background-position: -64px -176px
}

.ui-icon-battery-2 {
  background-position: -80px -176px
}

.ui-icon-battery-3 {
  background-position: -96px -176px
}

.ui-icon-circle-plus {
  background-position: 0 -192px
}

.ui-icon-circle-minus {
  background-position: -16px -192px
}

.ui-icon-circle-close {
  background-position: -32px -192px
}

.ui-icon-circle-triangle-e {
  background-position: -48px -192px
}

.ui-icon-circle-triangle-s {
  background-position: -64px -192px
}

.ui-icon-circle-triangle-w {
  background-position: -80px -192px
}

.ui-icon-circle-triangle-n {
  background-position: -96px -192px
}

.ui-icon-circle-arrow-e {
  background-position: -112px -192px
}

.ui-icon-circle-arrow-s {
  background-position: -128px -192px
}

.ui-icon-circle-arrow-w {
  background-position: -144px -192px
}

.ui-icon-circle-arrow-n {
  background-position: -160px -192px
}

.ui-icon-circle-zoomin {
  background-position: -176px -192px
}

.ui-icon-circle-zoomout {
  background-position: -192px -192px
}

.ui-icon-circle-check {
  background-position: -208px -192px
}

.ui-icon-circlesmall-plus {
  background-position: 0 -208px
}

.ui-icon-circlesmall-minus {
  background-position: -16px -208px
}

.ui-icon-circlesmall-close {
  background-position: -32px -208px
}

.ui-icon-squaresmall-plus {
  background-position: -48px -208px
}

.ui-icon-squaresmall-minus {
  background-position: -64px -208px
}

.ui-icon-squaresmall-close {
  background-position: -80px -208px
}

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px
}

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px
}

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px
}

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px
}

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px
}

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px
}

.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl {
  border-top-left-radius: 3px
}

.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr {
  border-top-right-radius: 3px
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl {
  border-bottom-left-radius: 3px
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
  border-bottom-right-radius: 3px
}

.ui-widget-overlay {
  background: #aaa;
  opacity: .3;
  filter: Alpha(Opacity=30)
}

.ui-widget-shadow {
  margin: 0 0 0 0;
  padding: 5px;
  background: #666;
  opacity: .3;
  filter: Alpha(Opacity=30);
  border-radius: 8px
}

@font-face {
  font-family: 'AvenirNextLTProRegular';
  src: url('/Content/fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.eot');
  src: url('/Content/fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),url('/Content/fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.woff') format('woff'),url('/Content/fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.svg#AvenirNextLTProRegular') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'AvenirNextLTProDemi';
  src: url('/Content/fonts/AvenirNextLTProDemi/AvenirNextLTPro-Demi.eot');
  src: url('/Content/fonts/AvenirNextLTProDemi/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),url('/Content/fonts/AvenirNextLTProDemi/AvenirNextLTPro-Demi.woff') format('woff'),url('/Content/fonts/AvenirNextLTProDemi/AvenirNextLTPro-Demi.svg#AvenirNextLTProDemi') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'AvenirNextLTProBold';
  src: url('/Content/fonts/AvenirNextLTProBold/AvenirNextLTPro-Bold.eot');
  src: url('/Content/fonts/AvenirNextLTProBold/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),url('/Content/fonts/AvenirNextLTProBold/AvenirNextLTPro-Bold.woff') format('woff'),url('/Content/fonts/AvenirNextLTProBold/AvenirNextLTPro-Bold.svg#AvenirNextLTProBold') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'TotoFont';
  src: url('/Content/fonts/sportv1/SportSymbols.eot');
  src: url('/Content/fonts/sportv1/SportSymbols.eot&#iefix') format('embedded-opentype'),url('/Content/fonts/sportv1/SportSymbols.woff') format('woff'),url('/Content/fonts/sportv1/SportSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'digiSportIcons';
  src: url('/Content/fonts/sportsIcons/sportsIcons.eot?v=1.1.2');
  src: url('/Content/fonts/sportsIcons/sportsIcons.eot?#iefix&v=1.1.2') format('embedded-opentype'),url('/Content/fonts/sportsIcons/sportsIcons.woff2?v=1.1.2') format('woff2'),url('/Content/fonts/sportsIcons/sportsIcons.woff?v=1.1.2') format('woff'),url('/Content/fonts/sportsIcons/sportsIcons.ttf?v=1.1.2') format('truetype');
  font-weight: normal;
  font-style: normal
}

[class^='sport_front_icon-']:before,[class*=' sport_front_icon-']:before {
  font-family: 'digiSportIcons';
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 36px;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '';
  direction: ltr!important
}

.sport_front_icon-1:before {
  content: ''
}

.sport_front_icon-2:before {
  content: ''
}

.sport_front_icon-3:before {
  content: ''
}

.sport_front_icon-4:before {
  content: ''
}

.sport_front_icon-5:before {
  content: ''
}

.sport_front_icon-6:before {
  content: ''
}

.sport_front_icon-7:before {
  content: ''
}

.sport_front_icon-8:before {
  content: ''
}

.sport_front_icon-9:before {
  content: ''
}

.sport_front_icon-10:before {
  content: ''
}

.sport_front_icon-11:before {
  content: ''
}

.sport_front_icon-12:before {
  content: ''
}

.sport_front_icon-13:before {
  content: ''
}

.sport_front_icon-14:before {
  content: ''
}

.sport_front_icon-15:before {
  content: ''
}

.sport_front_icon-16:before {
  content: ''
}

.sport_front_icon-17:before {
  content: ''
}

.sport_front_icon-18:before {
  content: ''
}

.sport_front_icon-19:before {
  content: ''
}

.sport_front_icon-20:before {
  content: ''
}

.sport_front_icon-21:before {
  content: ''
}

.sport_front_icon-22:before {
  content: ''
}

.sport_front_icon-23:before {
  content: ''
}

.sport_front_icon-24:before {
  content: ''
}

.sport_front_icon-25:before {
  content: ''
}

.sport_front_icon-26:before {
  content: ''
}

.sport_front_icon-27:before {
  content: ''
}

.sport_front_icon-28:before {
  content: ''
}

.sport_front_icon-29:before {
  content: ''
}

.sport_front_icon-30:before {
  content: ''
}

.sport_front_icon-31:before {
  content: ''
}

.sport_front_icon-32:before {
  content: ''
}

.sport_front_icon-33:before {
  content: ''
}

.sport_front_icon-34:before {
  content: ''
}

.sport_front_icon-35:before {
  content: ''
}

.sport_front_icon-36:before {
  content: ''
}

.sport_front_icon-37:before {
  content: ''
}

.sport_front_icon-38:before {
  content: ''
}

.sport_front_icon-39:before {
  content: ''
}

.sport_front_icon-40:before {
  content: ''
}

.sport_front_icon-41:before {
  content: ''
}

.sport_front_icon-42:before {
  content: ''
}

.sport_front_icon-43:before {
  content: ''
}

.sport_front_icon-44:before {
  content: ''
}

.sport_front_icon-45:before {
  content: ''
}

.sport_front_icon-46:before {
  content: ''
}

.sport_front_icon-47:before {
  content: ''
}

.sport_front_icon-48:before {
  content: ''
}

.sport_front_icon-49:before {
  content: ''
}

.sport_front_icon-50:before {
  content: ''
}

.sport_front_icon-51:before {
  content: ''
}

.sport_front_icon-52:before {
  content: ''
}

.sport_front_icon-53:before {
  content: ''
}

.sport_front_icon-54:before {
  content: ''
}

.sport_front_icon-55:before {
  content: ''
}

.sport_front_icon-56:before {
  content: ''
}

.sport_front_icon-57:before {
  content: ''
}

.sport_front_icon-58:before {
  content: ''
}

.sport_front_icon-59:before {
  content: ''
}

.sport_front_icon-60:before {
  content: ''
}

.sport_front_icon-61:before {
  content: ''
}

.sport_front_icon-62:before {
  content: ''
}

.sport_front_icon-63:before {
  content: ''
}

.sport_front_icon-64:before {
  content: ''
}

.sport_front_icon-65:before {
  content: ''
}

.sport_front_icon-66:before {
  content: ''
}

.sport_front_icon-67:before {
  content: ''
}

.sport_front_icon-68:before {
  content: ''
}

.sport_front_icon-69:before {
  content: ''
}

.sport_front_icon-70:before {
  content: ''
}

.sport_front_icon-71:before {
  content: ''
}

.sport_front_icon-72:before {
  content: ''
}

.sport_front_icon-73:before {
  content: ''
}

.sport_front_icon-74:before {
  content: ''
}

.sport_front_icon-75:before {
  content: ''
}

.sport_front_icon-76:before {
  content: ''
}

.sport_front_icon-77:before {
  content: ''
}

.sport_front_icon-78:before {
  content: ''
}

.sport_front_icon-79:before {
  content: ''
}

.sport_front_icon-80:before {
  content: ''
}

.sport_front_icon-81:before {
  content: ''
}

.sport_front_icon-82:before {
  content: ''
}

.sport_front_icon-83:before {
  content: ''
}

.sport_front_icon-84:before {
  content: ''
}

.sport_front_icon-85:before {
  content: ''
}

.sport_front_icon-86:before {
  content: ''
}

.sport_front_icon-87:before {
  content: ''
}

.sport_front_icon-88:before {
  content: ''
}

.sport_front_icon-89:before {
  content: ''
}

.sport_front_icon-90:before {
  content: ''
}

.sport_front_icon-91:before {
  content: ''
}

.sport_front_icon-92:before {
  content: ''
}

.sport_front_icon-93:before {
  content: ''
}

.sport_front_icon-94:before {
  content: ''
}

.sport_front_icon-95:before {
  content: ''
}

.sport_front_icon-96:before {
  content: ''
}

.sport_front_icon-97:before {
  content: ''
}

.sport_front_icon-98:before {
  content: ''
}

.sport_front_icon-99:before {
  content: ''
}

.sport_front_icon-100:before {
  content: ''
}

.sport_front_icon-101:before {
  content: ''
}

.sport_front_icon-102:before {
  content: ''
}

.sport_front_icon-103:before {
  content: ''
}

.sport_front_icon-104:before {
  content: ''
}

.sport_front_icon-105:before {
  content: ''
}

.sport_front_icon-106:before {
  content: ''
}

.sport_front_icon-107:before {
  content: ''
}

.sport_front_icon-108:before {
  content: ''
}

.sport_front_icon-109:before {
  content: ''
}

.sport_front_icon-110:before {
  content: ''
}

.sport_front_icon-111:before {
  content: ''
}

.sport_front_icon-112:before {
  content: ''
}

.sport_front_icon-113:before {
  content: ''
}

.sport_front_icon-114:before {
  content: ''
}

.sport_front_icon-115:before {
  content: ''
}

.sport_front_icon-116:before {
  content: ''
}

.sport_front_icon-117:before {
  content: ''
}

.sport_front_icon-118:before {
  content: ''
}

.sport_front_icon-arrow-down:before {
  content: ''
}

.sport_front_icon-arrow-up:before {
  content: ''
}

.sport_front_icon-star-empty:before {
  content: ''
}

.sport_front_icon-star-filled:before {
  content: ''
}

.sport_front_icon-check:before {
  content: ''
}

.sport_front_icon-search:before {
  content: ''
}

.sport_front_icon-wallet:before {
  content: ''
}

.sport_front_icon-tournament:before {
  content: ''
}

.sport_front_icon-sack:before {
  content: ''
}

.sport_front_icon-bonus:before {
  content: ''
}

.sport_front_icon-lock:before {
  content: ''
}

.sport_front_icon-lock-off:before {
  content: ''
}

.sport_front_icon-limit-top:before {
  content: ''
}

.sport_front_icon-limit-bottom:before {
  content: ''
}

.sport_front_icon-balance:before {
  content: ''
}

.sport_front_icon-balance-negative:before {
  content: ''
}

.sport_front_icon-copy:before {
  content: ''
}

.sport_front_icon-dir-right:before {
  content: ''
}

.sport_front_icon-dir-top:before {
  content: ''
}

.sport_front_icon-logout:before {
  content: ''
}

.sport_front_icon-cashier:before {
  content: ''
}

.sport_front_icon-history:before {
  content: ''
}

.sport_front_icon-offers:before {
  content: ''
}

.sport_front_icon-settings:before {
  content: ''
}

.sport_front_icon-documents:before {
  content: ''
}

.sport_front_icon-key:before {
  content: ''
}

.sport_front_icon-upload:before {
  content: ''
}

.sport_front_icon-calendar-empty:before {
  content: ''
}

.sport_front_icon-support:before {
  content: ''
}

.sport_front_icon-promotions:before {
  content: ''
}

.sport_front_icon-home:before {
  content: ''
}

.sport_front_icon-sports:before {
  content: ''
}

.sport_front_icon-live:before {
  content: ''
}

.sport_front_icon-bet-checker:before {
  content: ''
}

.sport_front_icon-live-score:before {
  content: ''
}

.sport_front_icon-statistics:before {
  content: ''
}

.sport_front_icon-results:before {
  content: ''
}

.sport_front_icon-casino:before {
  content: ''
}

.sport_front_icon-live-casino:before {
  content: ''
}

.sport_front_icon-rocketon:before {
  content: ''
}

.sport_front_icon-keno-express:before {
  content: ''
}

.sport_front_icon-keno:before {
  content: ''
}

.sport_front_icon-hilo:before {
  content: ''
}

.sport_front_icon-sicBo:before {
  content: ''
}

.sport_front_icon-blackJack:before {
  content: ''
}

.sport_front_icon-crash:before {
  content: ''
}

.sport_front_icon-penalty:before {
  content: ''
}

.sport_front_icon-belote:before {
  content: ''
}

.sport_front_icon-backgammon:before {
  content: ''
}

.sport_front_icon-domino:before {
  content: ''
}

.sport_front_icon-toto21:before {
  content: ''
}

.sport_front_icon-baron:before {
  content: ''
}

.sport_front_icon-rock-paper-scissors:before {
  content: ''
}

.sport_front_icon-tv-games:before {
  content: ''
}

.sport_front_icon-goal:before {
  content: ''
}

.sport_front_icon-poker:before {
  content: ''
}

.sport_front_icon-virtual-sport:before {
  content: ''
}

.sport_front_icon-issue:before {
  content: ''
}

.sport_front_icon-info:before {
  content: ''
}

.sport_front_icon-calendar:before {
  content: ''
}

.sport_front_icon-esports:before {
  content: ''
}

.sport_front_icon-star-empty-modern:before {
  content: ''
}

.sport_front_icon-star-filled-modern:before {
  content: ''
}

.sport_front_icon-statistics-modern:before {
  content: ''
}

.sport_front_icon-light-bulb:before {
  content: ''
}

.sport_front_icon-live-stream:before {
  content: ''
}

.sport_front_icon-bet-history:before {
  content: ''!important
}

.sport_front_icon-print:before {
  content: ''
}

.sport_front_icon-boredraw:before {
  content: ''
}

.sport_front_icon-cash-show:before {
  content: ''
}

.sport_front_icon-cash-out:before {
  content: ''
}

.sport_front_icon-plus:before {
  content: ''
}

.sport_front_icon-minus:before {
  content: ''
}

.sport_front_icon-checked:before {
  content: ''
}

.sport_front_icon-bowl_modern:before {
  content: ''
}

.sport_front_icon-filter_modern:before {
  content: ''
}

.sport_front_icon-dots:before {
  content: ''
}

.sport_front_icon-ask_davo:before {
  content: ''
}

.sport_front_icon-wallet_modern:before {
  content: ''
}

.sport_front_icon-bonus_modern:before {
  content: ''
}

.sport_front_icon-repeat_bet:before {
  content: ''
}

.sport_front_icon-check_redact:before {
  content: ''
}

.sport_front_icon-share:before {
  content: ''
}

.sport_front_icon-copy:before {
  content: ''
}

.sport_front_icon-calculator:before {
  content: ''
}

.sport_front_icon-burger:before {
  content: ''
}

.sport_front_icon-grid:before {
  content: ''
}

.sport_front_icon-group_stage:before {
  content: ''
}

.sport_front_icon-standings:before {
  content: ''
}

.sport_front_icon-statistics:before {
  content: ''
}

.sport_front_icon-lucky_wheel:before {
  content: ''
}

.sport_front_icon-bet_race:before {
  content: ''
}

.sport_front_icon-bet_history:before {
  content: ''
}

.sport_front_icon-results:before {
  content: ''
}

.sport_front_icon-calendar_modern:before {
  content: ''
}

.sport_front_icon-calendar_modern_2:before {
  content: ''
}

.sport_front_icon-top_picks:before {
  content: ''
}

.sport_front_icon-user:before {
  content: ''
}

.sport_front_icon-super:before {
  content: ''
}

.sportIcon {
  text-transform: none;
  font-family: TotoFont;
  font-size: 1em;
  font-style: normal;
  font-weight: normal
}

.displayFlex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.displayNone {
  display: none
}

.flexWrap {
  flex-flow: wrap
}

.alignStretch {
  align-items: stretch
}

.alignItemsCenter {
  align-items: center
}

.alignItemsStretch {
  align-items: stretch
}

.verticalAlignCenter {
  vertical-align: central
}

.flex1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0
}

.flex2 {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0
}

.flex3 {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 0
}

.flex4 {
  flex-grow: 4;
  flex-shrink: 1;
  flex-basis: 0
}

.flexDirectionColumn {
  flex-direction: column
}

.flexDirectionRow {
  flex-direction: row
}

.textAlignCenter {
  text-align: center
}

.alignSelfCenter {
  align-self: center
}

.txtal {
  text-align: left
}

.txtar {
  text-align: right
}

.justifyContentSpaceBetween {
  justify-content: space-between
}

.wrap {
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap
}

.flexStart {
  -webkit-justify-content: flex-start;
  justify-content: flex-start
}

.flexEnd {
  -webkit-justify-content: flex-end;
  justify-content: flex-end
}

video {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%
}

.SteppedSliderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.ss__label {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.ss__step_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%
}

.ss__step_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 18px;
  padding-left: 9px;
  padding-right: 9px
}

.ss__step_slider .ss__slider {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0
}

.ss__step_slider .ss__ruller {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.ss__step_slider .ss__ruller>div {
  flex: 1;
  height: 2px;
  margin-right: 1px;
  background-color: #666
}

#keyboardInputMaster {
  position: absolute;
  font: normal 11px Arial,sans-serif;
  border-radius: 2px;
  text-align: left;
  z-index: 1000000;
  height: auto;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  line-height: normal;
  -moz-user-select: none;
  cursor: default;
  width: 500px
}

#keyboardInputMaster .spacerr {
  flex: 1
}

.hide {
  display: none
}

#keyboardInputMaster .secBtn {
  width: 40px;
  height: 40px;
  font-size: 17px;
  margin: 2px;
  text-align: center;
  line-height: 40px;
  border-radius: 2px
}

#keyboardInputMaster .secBtn:hover,#keyboardInputMaster .secBtn:active,#keyboardInputMaster .secBtn.pressed {
  background-color: #f6f6f6;
  color: #000
}

#keyboardInputMaster .secBtn.last {
  width: 100px
}

#keyboardInputMaster .secBtn.space {
  width: 200px
}

#keyboardInputMaster .secBtn.deadkey {
  background-color: #ccd
}

#keyboardInputMaster .secBtn.target {
  background-color: #ddc
}

#keyboardInputMaster .inp {
  background-color: #fff;
  width: 200px;
  height: 33px;
  border-radius: 2px;
  color: #000;
  line-height: 33px
}

#keyboardInputMaster thead tr th {
  padding: .3em .3em .1em .3em;
  white-space: nowrap;
  text-align: right
}

#keyboardInputMaster thead tr th div {
  float: left;
  font-size: 130%!important;
  height: 1.3em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  margin-right: .5em;
  cursor: pointer;
  background-color: transparent
}

#keyboardInputMaster ol {
  position: absolute;
  left: 16px;
  top: 41px;
  list-style-type: none;
  height: 9.4em;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f6f6f6;
  border: 1px solid #999;
  display: none;
  text-align: left;
  width: 200px;
  z-index: 999999
}

#keyboardInputMaster ol li {
  padding: .2em .4em;
  cursor: pointer;
  white-space: nowrap;
  width: 12em
}

#keyboardInputMaster ol li.selected {
  background-color: #ffc
}

#keyboardInputMaster ol li:hover,#keyboardInputMaster ol li.hover {
  background-color: #ddd
}

.keyboardInputInitiator {
  margin: 0 3px;
  vertical-align: middle;
  cursor: pointer;
  display: none
}

body {
  margin: 0
}

* {
  box-sizing: border-box
}

.digi_scroll_bar_y {
  width: 6px
}

.digi_scroll_dragger_y {
  width: 100%
}

.digi_scroll_bar_x {
  height: 6px
}

.digi_scroll_dragger_x {
  height: 100%
}

.digi_scroll_bar {
}

.digi_scroll_dragger {
  position: relative;
  background-color: #999;
  opacity: .9;
  z-index: 9;
  border-radius: 2px;
  cursor: pointer
}

.digi_scroll:hover .digi_scroll_dragger {
  opacity: .5
}
